---
import "../styles/global.css";
import Search from "../components/Search";
import Layout from "../layouts/Layout.astro";
import Results from "../components/Results";
import Destinations from "../components/Destinations";
import Accordions from "../components/Accordions";
---

<Layout>
  <main class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <Search client:load />
      <Destinations client:load />
    </div>
    <Results client:load />
  </main>
</Layout>
